body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.container{}

.content-item{
    margin:30px 0;
    padding:30px;
    border:solid 2px #cecece;
}

.collapse{
    height:0;
    overflow: hidden;
}

.collapse.in{
    height:auto;
}